@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ERMIQUITI</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hola</a>.</p>
</div>
